:root {
    --main: hsl(31, 77%, 52%);
    --secondary: hsl(184, 100%, 22%);
    --dark: hsl(179, 100%, 13%);
    /* neutrals */
    --neutral: hsla(0, 0%, 100%, 0.75);
    --neutral-light: hsl(0, 0%, 95%);
}

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body {
    background: var(--neutral-light);
    font-size: 1rem;
    min-height: 100vh;
    /* color: var(--neutral-light); */
    font-family: 'Lexend Deca', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

/* Utilities */
.sedan {
    background-color: var(--main);
}

.suvs {
    background-color: var(--secondary);
}

.luxury {
    background-color: var(--dark);
}

/* Card Style */

.container {
    margin: auto 1em;
}

.card-list {
}

/* Attribution */
.attribution {
    background: var(--neutral);
    color: var(--dark);
    width: 100%;

    position:fixed;
    bottom: 0;
    right: 0;
}

.attribution a {
    color: var(--secondary);
    text-decoration: none;
}

/* Media Query */

@media (min-width:40rem){

    .card-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .card {
        max-width: 70vw;
        margin: 2em auto;
    }
}