:root {
    --main: hsl(31, 77%, 52%);
    --secondary: hsl(184, 100%, 22%);
    --dark: hsl(179, 100%, 13%);
    /* neutrals */
    --neutral: hsla(0, 0%, 100%, 0.75);
    --neutral-light: hsl(0, 0%, 95%);
    --white: #fff;
}

/* -------------- Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body {
    background: var(--neutral-light);
    font-size: 1rem;
    min-height: 100vh;
    color: var(--neutral-light);
    font-family: 'Lexend Deca', sans-serif;

    display: grid;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

/* -------------- Utilities */

.sedan {
    background-color: var(--main);
}

.suvs {
    background-color: var(--secondary);
}

.luxury {
    background-color: var(--dark);
}

.btn {
    background-color: var(--white);
    max-width: max-content;
    min-width: max-content;
    padding: .6rem 1.2rem;
    display: block;
    border-radius: 50px;
    text-decoration: none;
    font-size: .7rem;
}

.sedan .btn {
    color: var(--main);
}

.suvs .btn {
    color: var(--secondary);
}

.luxury .btn {
    color: var(--dark);
}

/* -------------- Card Style */

.container {
    margin: auto 1em;
    display: grid;
    place-items: center;
}

.card-list {
    margin: 2rem 0;
    font-size: .8rem;
}

.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card-body {
    display: grid;
    row-gap: 1.3rem;
}

/* -------------- Attribution */

.attribution {
    background: var(--neutral-light);
    color: var(--dark);
    width: 100%;

    position:fixed;
    bottom: 0;
    right: 0;
}

.attribution a {
    color: var(--secondary);
    text-decoration: none;
}

/* -------------- Media Query */

@media (min-width:40rem){

    .card-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .card {
        max-width: 70vw;
        margin: 2em auto;
    }
}